.header {
  font-family: "Raleway", sans-serif, "Arial";
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  max-width: 1052px;
  margin: 92px 24px 96px;
  font-size: 18px;
}

.header__menu {
  margin-top: 4px;
}

.header__links-list {
  display: flex;
  list-style: circle;
  gap: 32px;
  margin-left: 26.52px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
  font-size: 18px;
}

.header__link {
  text-underline-position: under;
  letter-spacing: 0.2px;
}

.header__logo {
  width: 148px;
  height: 105px;
  margin-right: 150px;
}

.address__block {
  margin-top: 1px;
  padding-right: 62px;
  font-family: "Raleway", sans-serif ,"Arial";
  font-size: 18px;
  line-height: 24.3px;
  font-style: normal;
  text-underline-position: under;
}

.cover {
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 1100px;
  min-height: 757px;
  background-image: url("../image/lotus-flower.png");
  background-position: center;
  background-color: #000;
  inset: 0;
  position: relative;
}

.overlay {
  position: absolute;
  z-index: 0;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);


}

.cover__title {
  padding: 165px 50px 0;
  font-family: "Raleway", sans-serif, "Arial";
  font-size: 100px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 30px;
  text-transform: uppercase;
  display: grid;
  grid-template-rows: 115px 100px 100px;
  row-gap: 20px;
  align-items: center;
  font-variant-caps: normal;
}

.aligned-text {
  text-align: left;
  z-index: 1;
}

.letter-spacing-extended {
letter-spacing: 60px;
}

.aligned-text_center {
  text-align: center;
  margin-right: 30px;
}

.aligned-text_right {
  text-align: right;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  color: #fff;
  font-family:"Raleway", sans-serif, "Arial";
  padding-left: 78px;
  padding-right: 50px;
  margin-top: 135px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cover__description-text {
  font-size: 22px;
  font-weight: 400;
  word-spacing: 18.6px;
  text-transform: uppercase;
  z-index: 1;
}

.bet-button {
  height: 28px;
  color: #fff;
  text-align: center;
  font-family: "Raleway", sans-serif ,"Arial";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  background: none;
  margin-top: 1px;
  z-index: 1;
}

.lots {
  padding: 0 24px;
  margin-top: 179px;

}

.lots__heading {
  color: #000;
  font-family: "Raleway", sans-serif ,"Arial";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  margin-left: 40px;
  text-transform: uppercase;
  margin-bottom: 27px;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  gap: 25px;
  list-style: none;
  align-content: center;
  margin-bottom: 30px;
  min-height: 563px;
}

.lots__card-list-item {
  width: 100%;
}

.card-link {
  text-decoration: none;
}

.card {
  box-sizing: border-box;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 51px 40px 48px;
}

.card_type_film {
  background-image: url(../image/photo.png);
}

.card__title {
  color: #fff;
  font-family: "Raleway", sans-serif ,"Arial";
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 3px;
  z-index: 1;
}

.card__text {
  color: #fff;
  font-family: "Raleway", sans-serif ,"Arial";
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  z-index: 1;
}

.card_type_book {
  background-image: url(../image/photo.jpg);
}

.card_type_picture {
  background-image: url(../image/photo_img.png);
}

.lots__look-more-link {
  text-decoration: none;
  color: #000;
  font-family: "Raleway", sans-serif ,"Arial";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 40px;
  border-bottom: 1px solid black;
}

.about {
  margin-top: 181px;
  margin-left: 24px;
  margin-right: 24px;
  display: grid;
  grid-template-columns: 334px auto;
  gap: 25px;
  justify-items: center;
}

.about__logo {
  background-color: #000;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  color: #000;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif ,"Arial";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  padding-top: 101px;
  padding-bottom: 100px;
}

.about__text {
  font-family: "Raleway", sans-serif ,"Arial";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer {
  margin: 181px 51px 88px 50px;
  display: flex;
  justify-content: space-between;
}

.adress__footer {
  width: 240px;
  font-family: "Raleway", sans-serif ,"Arial";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
  letter-spacing: 0.18px;
  text-underline-position: under;
}

.footer__menu-list {
  color: #000;
  text-align: center;
  font-family: "Raleway", sans-serif ,"Arial";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  list-style: none;
  text-align: center;
  text-underline-position: under;
  padding-left: 100px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__menu-link {
  padding-right: 98px;
}

.footer__social-list {
  display: inline-flex;
  align-items: flex-start;
  gap: 48px;
  list-style-type: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
